@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
  
  * {
    @apply border-slate-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}